@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

$vue-green: #41b883;
$vue-gray: #34495e;
$vue-text: #2c3e50;
$alabaster: #d8d8d8;
$apple-gray: #444446;
$bkg-col: #212122;
$text:#09c9b6;
$active:#d8c44f;
$go-btn: #157c8e;
$go-btn-hov: #02434f;

$b1-hov: #087264;
$b1: #088e7c;

$b2-hov: #85352a;
$b2: #a5493c;

$b3-hov: #0a3f5e;
$b3: #185e83;

$b4-hov: #986313;
$b4: #b37f30;
