@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500&display=swap");

$vue-green: #41b883;
$vue-gray: #34495e;
$vue-text: #2c3e50;
$alabaster: #f6f6f3;
$apple-gray: #444446;

$b1: #0c7c59;
$b1-hov: #076044;
$b2: #a44a3f;
$b2-hov: #85352a;
$b3: #0c4767;
$b4: #ba7d23;

//notes:
//   box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
