@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

$vue-green: #41b883;
$vue-gray: #34495e;
$vue-text: #2c3e50;
$alabaster: #d8d8d8;
$apple-gray: #444446;
$bkg-col: #212122;
$text:#0f8f9d;
$active:#d8c44f;
$go-btn: #035c6c;
$go-btn-hov: #02434f;

$b1-hov: #086f6d;
$b1: #075452;

$b2-hov: #a44a3f;
$b2: #85352a;

$b3-hov: #0c4767;
$b3: #0a364f;

$b4-hov: #ba7d23;
$b4: #946115;
